@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&display=swap');
/*@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");*/
:root
{
    --left-bg-color:rgba(87,84,236,0.7);
    --right-bg-color:rgba(43,43,43,0.8);
    --left-btn-color:rgba(87,83,236,1);
    --right-btn-color:rgb(239, 243, 8);

    --hover-width:75%;
    --other-width:25%;
    --speed: 1000ms;
}

* 
{
    box-sizing: border-box;
}

/*alinhar conteudos ao centro*/
body
{
    background-image: linear-gradient(90deg, #110449, #1a0968);
    color: #fff;
    font-family: 'Poppins',sans-serif;
    display: flex;          /*coloca tudo em linha*/
   flex-direction: column; /*coloca tudo em coluna*/
    align-items: center;    /*alinha horizontalmente*/
    justify-content: center;/*alinha tudo verticalmente com uso de height:100vh*/
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.btn{
    background-color: blueviolet;
    border-radius: 5px;
    border: none;
    margin: 1rem;
    color: white;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    cursor: pointer;
}

.btn:focus{
    outline: none;
}
.btn:hover{
    opacity: 0.8;
    transform: scale(1.2);
}
button{
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}


@media(max-width: 480px)        /*para ecras mais pequenos*/
{

    footer 
    {
        display: none;
    };
}

@media (max-width: 800px)
{
    footer 
    {
        display: none;
    };

}


/*estilos do footer */

footer{
    font-size: 8pt;
    color: rgb(255, 196, 0);
    position: absolute;
    text-align: center;
    border-top: 1px dashed;
    font-family:'Mulish',sans-serif;
    bottom: 0.5rem; 
    font-weight: 700;
}

footer a{
   color: #edf5e1;  /*cor dos links a preto*/
   text-decoration: none;     /*retira o sublinhado dos links*/
  
}

footer a:hover{
    color: rgb(255, 196, 0);
}


